.product{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
}

.product > img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    margin-top: 3vw;
}

.product__info{
    max-height:  100px;
    margin-bottom: 15px;
}

.product__price{
    margin-top: 5px;
}

.product__rating{
    display: flex;
}
.product > button{
    background:  #fed815;
    border: 0px solid;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: max-content;
    margin-top: 10px;
    border-radius: 5px;
    color: #111;
}

.product > button:hover{
    background: #f1d02a;
    cursor: pointer;
}